quartz.scheduler.instanceName = MyScheduler
quartz.threadPool.threadCount = 50

quartz.serializer.type = json
quartz.jobStore.type = Quartz.Impl.AdoJobStore.JobStoreTX, Quartz
quartz.jobStore.driverDelegateType = Quartz.Impl.AdoJobStore.MySQLDelegate, Quartz
quartz.jobStore.tablePrefix = QRTZ_
quartz.jobStore.dataSource = myDS
quartz.jobStore.useProperties = true
quartz.dataSource.myDS.connectionString = Server=192.168.1.95;Database=httpquartz;Uid=loogn;Pwd=loogn
quartz.dataSource.myDS.provider = MySql